
        <br>
        <div>
            <a href="#order" class="btn btn-secondary">Add new order</a>&nbsp;
            <a href="#" class="btn btn-info" ng-click="$event.preventDefault(); dateFilterExpandSwitch()">Filter by date&time</a>
        </div>

        <div id="filterdatetime" ng-show="isDateFilterExpanded">

			<div class="form-group" style="max-width: 350px;">
				<label class="col-sm control-label">Start Date & Time</label>
					<div class="col-sm-10">
						<p class="input-group">
							<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm"
								   ng-model="startDateTime" is-open="startDTPickerOpen"
								   ng-model-options='{ debounce: 500 }' ng-change="findOrdersDTOByDateTime(startDateTime, endDateTime)"/>
							<span class="input-group-btn">
                            	<button type="button" class="btn btn-default" ng-click="startDTPickerOpen=!startDTPickerOpen"><i
										class="fa fa-calendar"></i></button>
                        	</span>
						</p>
					</div>

				<label class="col-sm control-label">End Date & Time</label>
					<div class="col-sm-10">
						<p class="input-group">
							<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm"
								   ng-model="endDateTime" is-open="endDTPickerOpen"
								   ng-model-options='{ debounce: 500 }' ng-change="findOrdersDTOByDateTime(startDateTime, endDateTime)"/>
							<span class="input-group-btn">
                            	<button type="button" class="btn btn-default" ng-click="endDTPickerOpen=!endDTPickerOpen"><i
									class="fa fa-calendar"></i></button>
                        	</span>
						</p>
					</div>
            </div>

        </div>

        <h6></h6>
        <div class="row">
            <div class="col">
                <div class="card" style="max-width: 850px;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr class="text-sm-center">
                            <th width="7%">ID</th>
                            <th width="10%">EMP</th>
                            <th width="24%">Date&Time</th>
                            <th width="20%" class="text-right" nowrap>Total $</th>
                            <th width="17%" class="text-center">Quantity</th>
                            <th width="25%" ></th>
                        </tr>
                        </thead>
                        <!-- ORDERS list content -->
                        <tbody>
                            <tr ng-repeat="order in ordersdto">
                                <td align="center">{{order.orderId}}</td>
                                <td align="center">{{order.employeeId}}</td>
                                <td align="center">{{order.orderDateTime}}</td>
                                <td class="text-right">{{order.summaryPrice | number: 2}}</td>
                                <td align="center">{{order.itemsQuantity}}</td>
                                <td class="text-right" nowrap>
                                    <a class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top"
                                       ng-href="#order/{{order.orderId}}">
                                        <div class="d-none d-sm-block">Edit</div>
                                        <div class="d-block d-sm-none">✎</div>
                                    </a>&nbsp;
                                    <a href="#" class="btn btn-sm btn-danger"
                                       ng-click="$event.preventDefault();deleteOrder(order.orderId)">
                                        <div class="text-white d-none d-sm-block">Delete</div>
                                        <div class="text-white d-sm-none">&times;</div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
