<html ng-app="plunker">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="test.js"></script>
</head>
123dsf
<body>
<h4>Attribute Works:</h4>
<ul uib-pagination total-items="100" items-per-page="20" ng-model="3"></ul>

<h4>Element does not work:</h4>
<uib-pagination total-items="100" items-per-page="20" ng-model="3"></uib-pagination>
</body>

</html>