<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="css/bootstrap.css"
              th:href="@{css/bootstrap.css}">
        <link rel="stylesheet"
              href="css/style.css"
              th:href="@{css/style.css}">
        <script src="js/angular.min.js"></script>
        <script src="../static/app/cafemenuapp.OLD"></script>
        <script src="../static/app/items.controller.OLD"></script>

        <title th:text="'Cafemenu - ' + ${pagename}">CafeMenu - Page name</title>
    </head>
    <body>
        <header class="sticky-top" >
            <nav class="sticky-top p-1 navbar navbar-expand text-white rounded bg-secondary">
                <a class="navbar-brand">
                    <img src="../static/img/cmlogo.png"
                         th:src="@{img/cmlogo.png}" height="26" width="32" class="d-inline-block">CafeMenu</a>
                </a>
                <div class="collapse navbar-collapse">
                    <button class="btn btn-outline-dark text-white" type="button" th:onclick="'window.location.href=\''+@{/mainpage}+'\''">Main</button>&nbsp;
                    <button class="btn btn-outline-dark text-white" type="button" th:onclick="'window.location.href=\''+@{/ordersdto}+'\''">Orders</button>&nbsp;
                    <button class="btn btn-outline-dark text-white" type="button" th:onclick="'window.location.href=\''+@{/items}+'\''">Items</button>
                </div>
            </nav>
            <nav id="headername" class="navbar-expand-sm bg-light text-dark m-0 py-1 px-3">
                <h5 th:text="${pagename}">Page name</h5>
            </nav>
        </header>



    </body>

</div>
</html>





<!--<!doctype html>
<html>
<head>
    <title>Cafe Menu 2</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="hello">
<div class="container">
    <h1>Greeting</h1>
    <div ng-controller="home" ng-cloak class="ng-cloak">
        <p>The ID is {{greeting.id}}</p>
        <p>The content is {{greeting.content}}</p>
    </div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/hello.js"></script>
</body>
</html>-->

<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="incl/header_ :: header (pagename='')">header</div>

<body ng-app="app">
    <div class="container-fluid">
        <div class="row" >
            <a class="text-black">
                <br>
                <h4>&nbsp;Welcome to CafeMenu Web application.</h4><br>
                <h6>&nbsp;&nbsp;<u>Cafemenu</u> - application for cafe employees to control of making orders
                    (adding/editing items), filter them by date&time, editing and summarize
                    by items price inside & item quantity.
                </h6>
                <br>
            </a>
        </div>
        <div>
            <a href="ordersdto.html" class="btn btn-danger">Next to Orders list</a>
        </div>
    </div>
</body>

</html>-->